@{
    ViewBag.Title = "AddToWebsite";
}

<h2>AddToWebsite</h2>


 

        <li>Blog</li>
  <li>Game</li>
<li>Portfolio</li>
<li>Server Status</li>
<li>Social Links</li>
<li>Jills page/ js scripts</li>
<li>Work page with Frank Project</li>
<li>Google maps</li>
<li>Drop Down list</li>
<li>Products page</li>
<li>Coding languages</li>
<li>Optimize for mobile</li>
<li>API use</li>

   
