@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Work:</span>
        <span>Hoerbiger -  954-974-5700 Ext: 2040</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>954-668-8386</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Email me -  Home:</span>
        <span><a href="mailto:DamonShuter@gmail.com">DamonShuter.com</a></span>
    </p>

    <p>
        <span class="label">Email me -  Work:</span>
        <span><a href="mailto:Damon.Shuter@Hoerbiger.com">Damon.Shuter@Hoerbiger.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        <br />
       Plantation, Florida
    </p>
</section>