@{
    ViewBag.Title = "FactoryViewer";
}

<h2>FactoryViewer</h2>

<ol class="round">
    <li class="one">
        <h5>FactoryViewer</h5>
    <a href="http://usfllsfc1/FactoryViewer">FactoryViewer 1</a>
     <a href="http://usfllsfc3/FactoryViewer">FactoryViewer 3</a>
    <a href="http://usfllsfccas/FactoryViewer">FactoryViewer CAS</a>
        
        
        <a href="http://usfllsfccas/FactoryViewer">FactoryViewer HMC</a>
        <a href="http://usfllsfccas/FactoryViewer">FactoryViewer INJ</a>
        <a href="http://usfllsfc1/reportsmanager/">Report Manager</a>
    </li>

    <li class="two">
        <h5>FactoryViewer User Management</h5>
        <a href="http://usfllsfc1/factoryviewer/(S(wynyauikejslpo45vakpz055))/admin/admin.aspx">Admin 1</a>
        <a href="http://usfllsfc3/factoryviewer/(S(wynyauikejslpo45vakpz055))/admin/admin.aspx">Admin 3</a>
        <a href="http://usfllsfccas/factoryviewer/(S(wynyauikejslpo45vakpz055))/admin/admin.aspx">Admin CAS</a>
    </li>

    <li class="three">
        <h5>BiFirst Viewer</h5>
       
        <a href="http://usfllsfccas/bifirstview/">BI First View</a>
    </li>


</ol>

<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>
