@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
              Things to add
              
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
    BI First View Links
      
    </li>

    <li class="two">
        <h5>What else to add</h5>
      New Stuff Down here
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
       Add Javascript
        
    </li>
</ol>
